config/debian/debhelper-build-stamp
config/debian/files
config/debian/ubuntu-core-config.debhelper.log
config/debian/ubuntu-core-config.substvars
config/debian/ubuntu-core-config/
ubuntu-core-config_*.dsc
ubuntu-core-config_*.tar.xz
ubuntu-core-config_*.deb
ubuntu-core-config_*.changes
initramfs/debian/debhelper-build-stamp
initramfs/debian/files
initramfs/debian/initramfs-tools-ubuntu-core.debhelper.log
initramfs/debian/initramfs-tools-ubuntu-core.substvars
initramfs/debian/initramfs-tools-ubuntu-core/
initramfs-tools-ubuntu-core_*.dsc
initramfs-tools-ubuntu-core_*.tar.xz
initramfs-tools-ubuntu-core_*.deb
initramfs-tools-ubuntu-core_*.changes
initramfs/testing/*.assert
initramfs/testing/*.o
initramfs/testing/*.snap
initramfs/testing/.mypy_cache/
initramfs/testing/__pycache__
initramfs/testing/core-snap
initramfs/testing/disk.img
initramfs/testing/init
initramfs/testing/initrd
initramfs/testing/initrd.*.cpio.gz
initramfs/testing/kernel
initramfs/testing/kernel-snap
