#!/usr/bin/make -f

TESTFILES := $(shell find . | xargs file | grep shell | sed 's/:.*$$/ /g' | tr -d '\n')

%:
	dh $@ 

override_dh_auto_test:
	@set -e; for f in $(TESTFILES); do \
	    echo "Checking shell syntax of $$f"; \
	    sh -n $$f; \
	done
	python3 -m unittest

